In [1]:
import glob
import pandas as pd

In [10]:
all_files = glob.glob("*.csv")

In [11]:
df = pd.DataFrame()
for i in all_files:
    df = pd.concat([df, pd.read_csv(i)])
    print(i)

201908-citibike-tripdata.csv
201906-citibike-tripdata.csv
201910-citibike-tripdata.csv
201909-citibike-tripdata.csv
201907-citibike-tripdata.csv
201905-citibike-tripdata.csv

In [13]:
df['starttime'] = pd.to_datetime(df["starttime"],format="%Y-%m-%d %H:%M:%S")
df['stoptime'] = pd.to_datetime(df["stoptime"],format="%Y-%m-%d %H:%M:%S")

In [14]:
df['total_time'] = df['stoptime'] - df['starttime']

In [18]:
df['distance'] = ((df['start station latitude'] - df['end station latitude']) ** 2 + \
                 (df['start station longitude'] - df['end station longitude']) ** 2) ** 0.5

In [21]:
df.to_csv('concat_half_year.csv', index = False)

In [22]:
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'total_time', 'distance'],
      dtype='object')

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('concat_half_year.csv')

In [3]:
df['starttime'] = pd.to_datetime(df["starttime"],format="%Y-%m-%d %H:%M:%S")
df['stoptime'] = pd.to_datetime(df["stoptime"],format="%Y-%m-%d %H:%M:%S")

In [4]:
df['time'] = pd.to_datetime(df["starttime"],format="%Y-%m-%d %H")

In [12]:
df.month = df.starttime.dt.month
month_group = df.month.value_counts().reset_index()
month_group = month_group.rename(columns = {'index': 'month'})
month_group.to_csv('month.csv', index = False)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [32]:
df.day = df.starttime.dt.weekday
day_group = df.starttime.dt.weekday.value_counts().reset_index()
day_group = day_group.rename(columns = {'index': 'weekday'})
day_group.index = day_group.index + 1
day_group.to_csv('weekday.csv', index = False)

In [33]:
hour_group = df.starttime.dt.hour.value_counts().reset_index()
hour_group = hour_group.rename(columns = {'index': 'hour'})
hour_group.index = hour_group.index + 1
hour_group.to_csv('hour.csv', index = False)

In [37]:
def count_total(column):
    column_group = df[column].value_counts().reset_index().rename(columns = {'index': column})
    column_group.to_csv(column + '.csv', index = False)

In [45]:
column_list = ['start station name', 'end station name', 'bikeid', 
               'usertype', 'birth year','gender', 'distance']

In [46]:
for i in column_list:
    count_total(i)

In [56]:
pd.DataFrame({0: ['total'], 1: [13112694]}).to_csv('total.csv', index = False)

In [4]:
start_group = df.groupby('start station name')
start_group.mean()[['start station latitude', 
                    'start station longitude', 'tripduration']].to_csv('start_location.csv', index = True)

In [5]:
end_group = df.groupby('end station name')
end_group.mean()[['end station latitude', 
                    'end station longitude', 'tripduration']].to_csv('end_location.csv', index = True)

In [6]:
start_group = start_group.count()['tripduration'].reset_index().rename({'index': 'start station name',
                                                                  'tripduration': 'count'})

In [7]:
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'total_time', 'distance'],
      dtype='object')

In [8]:
start_group = pd.merge(start_group,df[['start station name', 'start station latitude', 
                                       'end station latitude']], how = 'left', on = 'start station name')

In [11]:
start_group = start_group.drop_duplicates()

In [12]:
start_group

,start station name,tripduration,start station latitude,end station latitude
0,1 Ave & E 110 St,8675,40.792327,40.781721
1,1 Ave & E 110 St,8675,40.792327,40.781122
2,1 Ave & E 110 St,8675,40.792327,40.782454
3,1 Ave & E 110 St,8675,40.792327,40.783964
5,1 Ave & E 110 St,8675,40.792327,40.798786
...,...,...,...,...
13111771,Yankee Ferry Terminal,11063,40.686931,40.661063
13111834,Yankee Ferry Terminal,11063,40.686931,40.730563
13112105,Yankee Ferry Terminal,11063,40.686931,40.686176
13112460,Yankee Ferry Terminal,11063,40.686931,40.702551
13112480,Yankee Ferry Terminal,11063,40.686931,40.716059

In [ ]:
star